
h2{
    color: rgb(20, 19, 19);
    font-size: 30px;

}

p{
    font-size: 18px;
    font-family: montserrat;
    font-weight: 200px;

}
.flex-container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.mydivname{
    flex: 0 0 30%;
    box-sizing: border-box;
    margin: 1%;
    background-color: rgb(253, 249, 249);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding:15px;
    margin-bottom: 50px;
    
}

.mydivname:hover {
    transform: translatey(5px);
}
.mydivname h2{
    color: black;
}

@media (max-width:768px){
    .mydivname{
        flex: 0 0 100%;
    }
}

.about-us{
    flex: 0 0 48%;
    box-sizing: border-box;
margin: 1%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    
}

/* hero section*/
.hero{

    background:url(images/4.webp) no-repeat center center/cover;
    color: white;
    padding: 100px 200px;
    text-align: center;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content{
    max-width: 800px;
    margin: auto;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 20px;

}

.hero p{
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-button{
    background-color: coral;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover{
    background-color: aqua;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.about-us{
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 50px;
    flex: 1 1 48%;
    box-sizing: border-box;
    margin: 1%;
}

@media (max-width: 768px) {
    .about-us {
        flex: 1 1 100%;
        align-items: center;

    }
    .about-us :img{
    max-width: 100%;
    height: auto;
    }
}


.nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    text-decoration: underline;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-button-header{
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button-header:hover {
    background-color: aqua;
}

.contact-form form button{
    padding: 12px 25px;
    background-color: coral;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: aqua;
}

@media (max-width: 768px) {
    .contact-info,
    .contact-form{
        flex: 0 0 100%;
        text-align:  center;
    }
    .contact-form form{
        text-align:  left ;
    }
}
